{% extends 'base.html' %}

{% block body %}
<div class="employees-list">
    <h2>Перечень договоров</h2>

    {% if employies %}
        {% for employie in employies %}
        <div class="employee-card">
            <div class="employee-info">
                <span class="employee-name">№ {{ employie['number_contract'] }} от {{ employie['date_contract']}}г.</span>
                <!-- <span class="employee-name">{{ employie['date_contract']}}г.</span> -->
                <span class="employee-name">{{ employie['thomas_of_property'] }} "{{ employie['name_of_the_organization']}}"</span>
                <!-- <span class="employee-name">{{ employie['name_of_the_organization']}} </span> -->
            </div>
            <div class="employee-actions">
                <button class="btn-edit">Edit</button>
                <button class="btn-delete">Delete</button>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="no-employees">No employees found. Add some using the form!</p>
    {% endif %}
</div>
{% endblock %}
