{% extends 'base.html' %}

{% block body %}
<div class="form-container">
    <div class="form-header">
        <h2>👤 данные нового Договора</h2>
        <!-- <p>Fill in the details below to add a new employee</p> -->
    </div>

    <form method="POST" class="employee-form">
        <div class="form-group">
            <label for="number_contract" class="form-label">
                <!-- <i class="icon"></i> -->
                Номер договора
            </label>
            <input
                type="text"
                id="number_contract"
                name="number_contract"
                class="form-input"
                placeholder="номер договора 92100-ХХХЭА"
                required
                autocomplete="off"
            >
            <span class="input-border"></span>
            <label for="date_contract" class="form-label">
                <!-- <i class="icon"></i> -->
                Дата договора
            </label>
            <input
                type="text"
                id="date_contract"
                name="date_contract"
                class="form-input"
                placeholder="дата договора 01.01.2026"
                required
                autocomplete="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="thomas_of_property" class="form-label">
                <!-- <i class="icon"></i> -->
                Форма собственности
            </label>
            <input
                type="text"
                id="thomas_of_property"
                name="thomas_of_property"
                class="form-input"
                placeholder="форма соственности"
                required
                autocomplete="off"
            >
            <span class="input-border"></span>
        </div>

        <div class="form-group">
            <label for="name_of_the_organization" class="form-label">
                <!-- <i class="icon"></i> -->
                Наименование организации
            </label>
            <input
                type="text"
                id="name_of_the_organization"
                name="name_of_the_organization"
                class="form-input"
                placeholder="организация"
                required
                autocomplete="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="abbreviated_name" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="abbreviated_name"
                name="abbreviated_name"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="fio" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="fio"
                name="fio"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="fioabbr" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="fioabbr"
                name="fioabbr"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="rpfio" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="rpfio"
                name="rpfio"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="position" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="position"
                name="position"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="rpposition" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="rpposition"
                name="rpposition"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="regulation" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="regulation"
                name="regulation"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="legal_address" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="legal_address"
                name="legal_address"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="physical_address" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="physical_address"
                name="physical_address"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="mail" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="mail"
                name="mail"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="phone_number" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="phone_number"
                name="phone_number"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="inn" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="inn"
                name="inn"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="kpp" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="kpp"
                name="kpp"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="ogrn" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="ogrn"
                name="ogrn"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="okved" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="okved"
                name="okved"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="okpo" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="okpo"
                name="okpo"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="current_account" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="current_account"
                name="current_account"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="bank" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="bank"
                name="bank"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="correspondent_account" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="correspondent_account"
                name="correspondent_account"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="bik" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="bik"
                name="bik"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="benefit" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="benefit"
                name="benefit"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="additionally" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="additionally"
                name="additionally"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="fioedo" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="fioedo"
                name="fioedo"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="emailedo" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="emailedo"
                name="emailedo"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="telephonedo" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="telephonedo"
                name="telephonedo"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>
        <div class="form-group">
            <label for="operatoredo" class="form-label">
            ....
            </label>
            <input
                type="text"
                id ="operatoredo"
                name="operatoredo"
                class="form-input"
                placeholder="...формат"
                required
                autocomplete ="off"
            >
            <span class="input-border"></span>
        </div>


        <button type="submit" class="submit-btn">
            <i class="btn-icon">✅</i>
            Add Employee
        </button>
    </form>
</div>
{% endblock %}
